openapi: 3.0.0
servers:
  - description: Cycle Public API
    url: 'https://api.cycle.io'
info:
  description: Cycle API
  version: 1.0.0
  title: Cycle API
  contact:
    email: support@cycle.io
tags:
  - name: Environments
    description: ''
security:
  - bearerAuth: []
    hubAuth: []
paths:
  /v1/account:
    get:
      operationId: getAccount
      security:
        - bearerAuth: []
      tags:
        - Accounts
      summary: Fetch Account
      description: Gets the account associated with the authenticated user token.
      responses:
        '200':
          description: Returns an account.
          content:
            application/json:
              schema:
                title: AccountResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Account'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/account/invites:
    get:
      operationId: getAccountInvites
      security:
        - bearerAuth: []
      tags:
        - Accounts
      summary: List Account Invites
      description: Lists invites associated with a given account.
      responses:
        '200':
          description: Returns a list of account invites.
          content:
            application/json:
              schema:
                title: AccountInvitesResponse
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/HubMembership'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/account/invites/{inviteId}':
    get:
      operationId: updateAccountInvite
      security:
        - bearerAuth: []
      tags:
        - Accounts
      parameters:
        - name: inviteId
          description: The ID of the given invite.
          in: path
          required: true
          schema:
            type: string
      summary: Update Account Invite
      description: Update a given invite.
      responses:
        '200':
          description: Returns an membership resource.
          content:
            application/json:
              schema:
                title: UpdateAccountInviteResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/HubMembership'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/account/memberships:
    get:
      operationId: getAccountMemberships
      security:
        - bearerAuth: []
      tags:
        - Accounts
      summary: List Account Memberships
      description: Lists the memberships for a given account.
      responses:
        '200':
          description: List of membership resources.
          content:
            application/json:
              schema:
                title: AccountMembershipsResponse
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/HubMembership'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/account/logins:
    get:
      operationId: getAccountLogins
      security:
        - bearerAuth: []
      tags:
        - Accounts
      summary: List Account Logins
      description: Lists logins associated with a given account.
      responses:
        '200':
          description: Returns a collection of logins.
          content:
            application/json:
              schema:
                title: AccountLoginsResponse
                type: object
                properties:
                  data:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/EmployeeLogin'
                        - $ref: '#/components/schemas/PasswordLogin'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/billing/orders: {}
  '/v1/billing/orders/{orderId}': {}
  '/v1/billing/orders/{orderId}/tasks': {}
  /v1/billing/plans/support: {}
  /v1/billing/plans/tiers: {}
  /v1/billing/methods: {}
  '/v1/billing/methods/{methodId}': {}
  /v1/billing/invoices: {}
  '/v1/billing/invoices/{invoiceId}': {}
  '/v1/billing/invoices/{invoiceId}/tasks': {}
  /v1/billing/services: {}
  '/v1/billing/services/{servicesId}': {}
  /v1/billing/services/overages: {}
  /v1/billing/credits: {}
  '/v1/billing/credits/{creditsId}': {}
  /v1/environments:
    get:
      operationId: getEnvironments
      tags:
        - Environments
      parameters:
        - name: meta
          in: query
          required: false
          description: 'A comma separated list of meta values. Meta values will show up under a resource''s `meta` field. In the case of applying a meta to a collection of resources, each resource will have it''s own relevant meta data. In some rare cases, meta may not apply to individual resources, and may appear in the root document. These will be clearly labeled.'
          schema:
            type: array
            items:
              type: string
              enum:
                - containers
                - containers_count
                - instances_count
        - name: include
          in: query
          required: false
          description: 'A comma separated list of include values. Included resources will show up under the root document''s `include` field, with the key being the id of the included resource. In the case of applying an include to a collection of resources, if two resources share the same include, it will only appear once in the return.'
          schema:
            type: array
            items:
              type: string
              enum:
                - creators
                - stacks
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
      summary: Get a list of environments
      description: Requires the `environments-view` capability.
      responses:
        '200':
          description: Returns a collection of environment resources.
          content:
            application/json:
              schema:
                title: EnvironmentListResponse
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Environment'
                  includes:
                    type: object
                    properties:
                      creators:
                        $ref: '#/components/schemas/CreatorInclude'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createEnvironment
      tags:
        - Environments
      parameters: []
      summary: Create Environment
      description: Requires the `environments-create` capability.
      requestBody:
        $ref: '#/components/requestBodies/CreateEnvironmentBody'
      responses:
        '201':
          description: Returns an environment resource.
          content:
            application/json:
              schema:
                title: EnvironmentResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Environment'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/environments/{environmentId}':
    get:
      operationId: getEnvironmentById
      tags:
        - Environments
      parameters:
        - name: environmentId
          description: The ID of the requested environment.
          in: path
          required: true
          schema:
            type: string
        - name: meta
          in: query
          required: false
          description: 'A comma separated list of meta values. Meta values will show up under a resource''s `meta` field. In the case of applying a meta to a collection of resources, each resource will have it''s own relevant meta data. In some rare cases, meta may not apply to individual resources, and may appear in the root document. These will be clearly labeled.'
          schema:
            type: array
            items:
              type: string
              enum:
                - containers
                - containers_count
                - instances_count
        - name: include
          in: query
          required: false
          description: 'A comma separated list of include values. Included resources will show up under the root document''s `include` field, with the key being the id of the included resource. In the case of applying an include to a collection of resources, if two resources share the same include, it will only appear once in the return.'
          schema:
            type: array
            items:
              type: string
              enum:
                - creators
                - stacks
      summary: Fetch Environment
      description: Requires the `environments-view` capability.
      responses:
        '200':
          description: Returns an environment resource.
          content:
            application/json:
              schema:
                title: EnvironmentResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Environment'
                  includes:
                    type: object
                    properties:
                      creators:
                        $ref: '#/components/schemas/CreatorInclude'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      operationId: updateEnvironment
      tags:
        - Environments
      parameters:
        - name: environmentId
          description: The ID of the requested environment.
          in: path
          required: true
          schema:
            type: string
      summary: Update Environment
      description: 'Updates the specificed environment, setting the values of the parameters passed. If any parameters are omitted, they will be left unchanged. Requires the `environments-update` capability.'
      requestBody:
        $ref: '#/components/requestBodies/UpdateEnvironmentBody'
      responses:
        '200':
          description: Returns an environment resource.
          content:
            application/json:
              schema:
                title: EnvironmentResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Environment'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: removeEnvironment
      tags:
        - Environments
      parameters:
        - name: environmentId
          description: The ID of the requested environment.
          in: path
          required: true
          schema:
            type: string
      summary: Remove Environment
      description: Requires the `environments-update` capability.
      responses:
        '200':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/environments/{environmentId}/tasks':
    post:
      tags:
        - Environments
      operationId: createEnvironmentJob
      parameters:
        - name: environmentId
          description: The ID of the requested environment.
          in: path
          required: true
          schema:
            type: string
      summary: Create Environment Job
      description: 'Used to `start`, `stop`, or `delete` an environment. Requires the `environments-state` capability.'
      requestBody:
        description: Parameters for creating a new environment job.
        content:
          application/json:
            schema:
              type: object
              required:
                - action
              properties:
                action:
                  type: string
                  enum:
                    - start
                    - stop
                    - delete
                  description: The name of the action to perform.
      responses:
        '200':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                title: TaskResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/environments/{environmentId}/summary':
    post:
      tags:
        - Environments
      operationId: getEnvironmentSummary
      parameters:
        - name: environmentId
          description: The ID of the requested environment.
          in: path
          required: true
          schema:
            type: string
      summary: Fetch Environment Summary
      description: Fetches a single summary object for a specific environment. Contains useful and relevant data/statistics that would otherwise be several separate API calls.  Requires the `environments-view` capability.
      responses:
        '200':
          description: Returns an environment summary object.
          content:
            application/json:
              schema:
                title: EnvironmentSummaryResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EnvironmentSummary'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/environments/{environmentId}/services/lb':
    get:
      operationId: getLoadBalancerInfo
      tags:
        - Environment Services
      parameters:
        - name: environmentId
          description: The environmentId where the load balancer resides.
          in: path
          required: true
          schema:
            type: string
      summary: Fetch LB Info
      description: Requires the `environments-view` capability.
      responses:
        '200':
          description: Returns a load balancer info resource.
          content:
            application/json:
              schema:
                title: LoadBalancerEnvironmentService
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/LoadBalancerInfoReturn'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/environments/{environmentId}/services/lb/tasks':
    patch:
      operationId: reconfigureLoadBalancer
      tags:
        - Environment Services
      parameters:
        - name: environmentId
          description: The ID of the environment where this load balancer resides.
          in: path
          required: true
          schema:
            type: string
      summary: Reconfigure LB
      description: Creates a task that will update the load balancer's configuration.
      requestBody:
        $ref: '#/components/requestBodies/LoadBalancerReconfigure'
      responses:
        '200':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                title: TaskResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/environments/{environmentId}/services/discovery/tasks':
    patch:
      operationId: reconfigureDiscovery
      tags:
        - Environment Services
      parameters:
        - name: environmentId
          description: The ID of the environment where this discovery service resides.
          in: path
          required: true
          schema:
            type: string
      summary: Reconfigure Discovery
      description: Creates a task that will update the discovery service's configuration.
      requestBody:
        $ref: '#/components/requestBodies/DiscoveryReconfigure'
      responses:
        '200':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                title: TaskResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/environments/{environmentId}/services/vpn':
    get:
      operationId: getVPNInfo
      tags:
        - Environment Services
      parameters:
        - name: environmentId
          description: The environmentId where the VPN resides.
          in: path
          required: true
          schema:
            type: string
      summary: Fetch VPN Info
      description: Requires the `environments-vpn` capability.
      responses:
        '200':
          description: Returns a VPNInfo resource.
          content:
            application/json:
              schema:
                title: VPNInfoEnvironmentService
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/VPNInfoReturn'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/environments/{environmentId}/services/vpn/logins':
    get:
      operationId: getVPNLogins
      tags:
        - Environment Services
      parameters:
        - name: environmentId
          description: The environmentId where the VPN service resides.
          in: path
          required: true
          schema:
            type: string
      summary: List Logins
      description: Requires the `environments-vpn-manage` capability.
      responses:
        '200':
          description: Returns a VPNLoginsDoc resource.
          content:
            application/json:
              schema:
                title: VPNLoginsDocument
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VPNLogins'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/environments/{environmentId}/services/vpn/users':
    get:
      operationId: getVPNUsers
      tags:
        - Environment Services
      parameters:
        - name: environmentId
          description: The environmentId where the VPN service resides.
          in: path
          required: true
          schema:
            type: string
      summary: List VPN Users
      description: Requires the `environments-vpn-manage` capability.
      responses:
        '200':
          description: Returns a list of VPN users for the given VPN.
          content:
            application/json:
              schema:
                title: getVPNUsersReturn
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VPNUsers'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createVPNUser
      tags:
        - Environment Services
      parameters:
        - name: environmentId
          description: The environmentId where the VPN service resides.
          in: path
          required: true
          schema:
            type: string
      summary: Create VPN User
      description: Requires the `environments-vpn-manage` capability.
      requestBody:
        $ref: '#/components/requestBodies/VPNUserCreate'
      responses:
        '201':
          description: Returns a VPN user resource.
          content:
            application/json:
              schema:
                title: VPNUserResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/VPNUsers'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/environments/{environmentId}/services/vpn/users/{userId}':
    delete:
      operationId: deleteVPNUser
      tags:
        - Environment Services
      parameters:
        - name: environmentId
          description: The environmentId where the VPN service the given user belongs to resides.
          in: path
          required: true
          schema:
            type: string
        - name: userId
          description: The userId of the user to be deleted.
          in: path
          required: true
          schema:
            type: string
      summary: Delete VPN user
      description: Requires the `environments-vpn-manage` capability.
      responses:
        '200':
          description: Returns a null data object.
          content:
            application/json:
              schema:
                title: VPNUserDeleteReturn
                type: object
                properties:
                  data:
                    type: string
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/environments/{environmentId}/services/vpn/tasks':
    post:
      operationId: reconfigureVPN
      tags:
        - Environment Services
      parameters:
        - name: environmentId
          description: The ID of the environment the VPN service resides in.
          in: path
          required: true
          schema:
            type: string
      summary: Reconfigure VPN
      description: Requires the `environments-vpn-manage` capability.
      requestBody:
        $ref: '#/components/requestBodies/VPNReconfigure'
      responses:
        '200':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                title: TaskResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/environments/{environmentId}/telemetry/instances':
    get:
      operationId: getInstancesTelemetry
      tags:
        - Environments
      parameters:
        - name: environmentId
          description: The environmentId where the instances being reported on reside.
          in: path
          required: true
          schema:
            type: string
      summary: List Telemetry Data
      description: Requires the `environments-view` capability.
      responses:
        '200':
          description: Returns a collection of telemetry data points.
          content:
            application/json:
              schema:
                title: EnvironmentInstanceTelemetry
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InstanceTelemetry'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/containers:
    get:
      operationId: getContainers
      tags:
        - Containers
      summary: List Containers
      description: Requires the `containers-view` capability.
      parameters:
        - name: meta
          in: query
          required: false
          description: 'A comma separated list of meta values. Meta values will show up under a resource''s `meta` field. In the case of applying a meta to a collection of resources, each resource will have it''s own relevant meta data. In some rare cases, meta may not apply to individual resources, and may appear in the root document. These will be clearly labeled.'
          schema:
            type: array
            items:
              type: string
              enum:
                - instances_count
                - domain
                - domains
                - ips
        - name: include
          in: query
          required: false
          description: 'A comma separated list of include values. Included resources will show up under the root document''s `include` field, with the key being the id of the included resource. In the case of applying an include to a collection of resources, if two resources share the same include, it will only appear once in the return.'
          schema:
            type: array
            items:
              type: string
              enum:
                - creators
                - images
                - stack_builds
                - stacks
                - environments
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
      responses:
        '200':
          description: Returns a collection of container resources.
          content:
            application/json:
              schema:
                title: ListContainersResponse
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Container'
                  includes:
                    $ref: '#/components/schemas/ContainerIncludes'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createContainer
      tags:
        - Containers
      parameters: []
      summary: Create Container
      description: Requires the `containers-deploy` capability.
      requestBody:
        $ref: '#/components/requestBodies/CreateContainer'
      responses:
        '201':
          description: Returns an container resource.
          content:
            application/json:
              schema:
                title: ContainerResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Container'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/containers/{containerId}':
    get:
      operationId: getContainerById
      tags:
        - Containers
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
        - name: meta
          in: query
          required: false
          description: 'A comma separated list of meta values. Meta values will show up under a resource''s `meta` field. In the case of applying a meta to a collection of resources, each resource will have it''s own relevant meta data. In some rare cases, meta may not apply to individual resources, and may appear in the root document. These will be clearly labeled.'
          schema:
            type: array
            items:
              type: string
              enum:
                - instances_count
                - domain
                - domains
                - ips
        - name: include
          in: query
          required: false
          description: 'A comma separated list of include values. Included resources will show up under the root document''s `include` field, with the key being the id of the included resource. In the case of applying an include to a collection of resources, if two resources share the same include, it will only appear once in the return.'
          schema:
            type: array
            items:
              type: string
              enum:
                - creators
                - images
                - stack_builds
                - stacks
                - environments
      summary: Fetch Container
      description: Requires the `containers-view` capability.
      responses:
        '200':
          description: Returns an container resource.
          content:
            application/json:
              schema:
                title: ContainerResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Container'
                  includes:
                    $ref: '#/components/schemas/InstanceIncludes'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      operationId: updateContainer
      tags:
        - Containers
      parameters:
        - name: containerId
          description: The ID of the container.
          in: path
          required: true
          schema:
            type: string
      summary: Update Container
      description: 'Updates the specified container, setting the values of the parameters passed.  If any parameters are omitted, they will be left unchanged. Requires the `contianers-update` capability.'
      requestBody:
        $ref: '#/components/requestBodies/UpdateContainer'
      responses:
        '200':
          description: Returns the updated container resource.
          content:
            application/json:
              schema:
                title: ContainerUpdateResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Container'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: removeContainer
      tags:
        - Containers
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
      summary: Delete Container
      description: Requires the `contianers-update` capability.
      responses:
        '200':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/containers/{containerId}/summary':
    get:
      operationId: getContainerSummary
      tags:
        - Containers
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
      summary: Fetch Container Summary
      description: Requires the `containers-view` capability.
      responses:
        '200':
          description: Returns an container summary resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ContainerSummary'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/containers/{containerId}/tasks':
    post:
      tags:
        - Containers
      operationId: createContainerJob
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
      summary: Create Container Job
      description: 'Used to perform different actions on a given container. Requires the `containers-state`, `containers-update`, or `containers-volumes-manage` capability (respectively).'
      requestBody:
        description: Parameters for creating a new container job.
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/ContainerAction'
                - $ref: '#/components/schemas/ReconfigureContainer'
                - $ref: '#/components/schemas/ReconfigureVolumes'
                - $ref: '#/components/schemas/Reimage'
                - $ref: '#/components/schemas/Scale'
      responses:
        '200':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/containers/{containerId}/instances':
    get:
      operationId: getInstances
      tags:
        - Instances
      parameters:
        - name: containerId
          description: The ID of the container this instance is created from.
          in: path
          required: true
          schema:
            type: string
        - name: include
          in: query
          required: false
          description: 'A comma separated list of include values. Included resources will show up under the root document''s `include` field, with the key being the id of the included resource. In the case of applying an include to a collection of resources, if two resources share the same include, it will only appear once in the return.'
          schema:
            type: array
            items:
              type: string
              enum:
                - creators
                - servers
                - locations
                - providers
                - containers
                - environments
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
      summary: List Instances
      description: Requires the `containers-view` capability.
      responses:
        '200':
          description: Returns a collection of contianer instance resources.
          content:
            application/json:
              schema:
                title: ContainerInstanceListResponse
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Instance'
                  includes:
                    $ref: '#/components/schemas/InstanceIncludes'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createContainerInstance
      tags:
        - Containers
      parameters:
        - name: containerId
          description: The ID of the container this instance is created from.
          in: path
          required: true
          schema:
            type: string
      summary: Create Instance(s)
      description: Requires the `containers-update` capability.
      requestBody:
        $ref: '#/components/requestBodies/InstanceCreate'
      responses:
        '200':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: removeMultipleContainerInstances
      tags:
        - Instances
      parameters:
        - name: containerId
          description: The ID of the container the instance(s) were created from.
          in: path
          required: true
          schema:
            type: string
      summary: Delete Instance(s)
      description: Requires the `containers-update` capability.
      responses:
        '200':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/containers/{containerId}/instances/{instanceId}':
    get:
      operationId: getContainerInstance
      tags:
        - Instances
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
        - name: instanceId
          description: The ID for the container instance.
          in: path
          required: true
          schema:
            type: string
        - name: include
          in: query
          required: false
          description: 'A comma separated list of include values. Included resources will show up under the root document''s `include` field, with the key being the id of the included resource. In the case of applying an include to a collection of resources, if two resources share the same include, it will only appear once in the return.'
          schema:
            type: array
            items:
              type: string
              enum:
                - creators
                - servers
                - locations
                - providers
                - containers
                - environments
      summary: Fetch Instance
      description: Requires the `containers-view` capability.
      responses:
        '200':
          description: Returns a container instance resource.
          content:
            application/json:
              schema:
                title: ContainerInstanceResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Instance'
                  includes:
                    $ref: '#/components/schemas/InstanceIncludes'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: removeContainerInstance
      tags:
        - Instances
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
        - name: instanceId
          description: The ID for the container instance.
          in: path
          required: true
          schema:
            type: string
      summary: Delete Instance
      description: Requires the `containers-update` capability.
      responses:
        '200':
          description: Returns a task descriptor
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/containers/{containerId}/instances/{instanceId}/ssh':
    get:
      operationId: getSSHConnection
      tags:
        - Instances
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
        - name: instanceId
          description: The ID for the container instance.
          in: path
          required: true
          schema:
            type: string
      summary: Fetch SSH Credentials
      description: Requires the `containers-ssh` capability.
      responses:
        '200':
          description: Returns a SSH connection response.
          content:
            application/json:
              schema:
                title: ContainerInstanceSSHResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SSHResponse'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: expireInstanceSSHTokens
      tags:
        - Instances
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
        - name: instanceId
          description: The ID for the container instance.
          in: path
          required: true
          schema:
            type: string
      summary: Expire SSH Credentials
      description: Requires the `containers-ssh` capability.
      responses:
        '200':
          description: Returns a data object holding the amount of tokens removed.
          content:
            application/json:
              schema:
                title: ExpireSSHTokenResponse
                type: object
                properties:
                  data:
                    type: object
                    description: The number of tokens expired.
                    required:
                      - tokens
                    properties:
                      tokens:
                        type: integer
                        description: The number of tokens expired.
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/containers/{containerId}/instances/{instanceId}/tasks':
    post:
      tags:
        - Instances
      operationId: createContainerInstanceJob
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
        - name: instanceId
          description: The ID for the container instance.
          in: path
          required: true
          schema:
            type: string
      summary: Create Instance Task
      description: 'Used to perform different actions on a given container instance, requries `containers-instance-migrate` capability.'
      requestBody:
        description: Parameters for creating a new container instance job.
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/RevertMigration'
                - $ref: '#/components/schemas/Migrate'
      responses:
        '200':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/containers/{containerId}/instances/{instanceId}/volumes':
    get:
      operationId: getContainerInstanceVolumes
      tags:
        - Instances
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
        - name: instanceId
          description: The ID for the container instance.
          in: path
          required: true
          schema:
            type: string
      summary: Fetch Instance Volume(s)
      description: Requires the `containers-view` capability.
      responses:
        '200':
          description: Returns an array of container instance volume resources.
          content:
            application/json:
              schema:
                title: ContainerInstanceVolumeResponse
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InstanceVolume'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/containers/{containerId}/instances/{instanceId}/telemetery/resources/report':
    get:
      operationId: getInstanceResourcesTelemetryReport
      tags:
        - Instances
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
        - name: instanceId
          description: The ID for the container instance.
          in: path
          required: true
          schema:
            type: string
      summary: Fetch Instance Telemetry Report
      description: Requires the `containers-view` capability.
      responses:
        '200':
          description: Returns an instance telemetry report.
          content:
            application/json:
              schema:
                title: InstaceTelemetryReportReturn
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/InstanceTelemetryReport'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/containers/{containerId}/servers':
    get:
      operationId: ContainersListServers
      tags:
        - Containers
      summary: List Container Servers
      description: Requires the `containers-view` capability.
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
        - name: meta
          in: query
          required: false
          description: 'A comma separated list of meta values. Meta values will show up under a resource''s `meta` field. In the case of applying a meta to a collection of resources, each resource will have it''s own relevant meta data. In some rare cases, meta may not apply to individual resources, and may appear in the root document. These will be clearly labeled.'
          schema:
            type: array
            items:
              type: string
              enum:
                - primary_ip
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
      responses:
        '200':
          description: Returns a list of server instance resources.
          content:
            application/json:
              schema:
                title: ContainerInstanceServerListResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ServersList'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/containers/{containerId}/servers/usable':
    get:
      operationId: getUsableServers
      tags:
        - Containers
      summary: List Usable Servers
      description: Requires the `containers-view` capability.
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
        - name: meta
          in: query
          required: false
          description: 'A comma separated list of meta values. Meta values will show up under a resource''s `meta` field. In the case of applying a meta to a collection of resources, each resource will have it''s own relevant meta data. In some rare cases, meta may not apply to individual resources, and may appear in the root document. These will be clearly labeled.'
          schema:
            type: array
            items:
              type: string
              enum:
                - node
                - instances_count
        - name: include
          in: query
          required: false
          description: 'A comma separated list of include values. Included resources will show up under the root document''s `include` field, with the key being the id of the included resource. In the case of applying an include to a collection of resources, if two resources share the same include, it will only appear once in the return.'
          schema:
            type: array
            items:
              type: string
              enum:
                - location
                - models
                - providers
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
      responses:
        '200':
          description: Returns a list of server resources.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Server'
                  includes:
                    $ref: '#/components/schemas/ServerIncludes'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/containers/{containerId}/compatible-images':
    get:
      operationId: getCompatibleImages
      tags:
        - Containers
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
      summary: Fetch Compatible Images
      description: Requires the `containers-view` capability.
      responses:
        '200':
          description: Returns a collection of image resources.
          content:
            application/json:
              schema:
                title: CompatibleImagesReponse
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Image'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/containers/{containerId}/backups':
    get:
      operationId: getBackupsCollection
      tags:
        - Backups
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
      summary: List Backups
      description: Requires the `containers-backups-view` capability.
      responses:
        '200':
          description: Returns a list of container backup resources.
          content:
            application/json:
              schema:
                title: ConatainerBackupListResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Backup'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/containers/{containerId}/backups/{backupId}':
    get:
      operationId: getBackup
      tags:
        - Backups
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
        - name: backupId
          description: The ID for the container backup.
          in: path
          required: true
          schema:
            type: string
      summary: Fetch Backup
      description: Requires the `containers-backups-view` capability.
      responses:
        '200':
          description: Returns a backup resource.
          content:
            application/json:
              schema:
                title: SingleBackupReturn
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Backup'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: removeBackup
      tags:
        - Backups
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
        - name: backupId
          description: The ID for the container backup.
          in: path
          required: true
          schema:
            type: string
      summary: Delete Backup
      description: Requires the `containers-backups-manage` capability.
      responses:
        '200':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                title: TaskResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/containers/{containerId}/backups/{backupId}/tasks':
    post:
      tags:
        - Backups
      operationId: restoreBackupJob
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
        - name: backupId
          description: The ID of the backup.
          in: path
          required: true
          schema:
            type: string
      summary: Create Backup Job
      description: Used to restore a backup for a given container instance. Requires the `containers-backups-manage` capability.
      requestBody:
        description: Parameters for creating a new backup job.
        content:
          application/json:
            schema:
              type: object
              required:
                - action
                - contents
              properties:
                action:
                  type: string
                  enum:
                    - restore
                  description: The action to take.
                contents:
                  type: object
                  description: Additional information the platform needs to create this job.
                  required:
                    - instance_id
                  properties:
                    instance_id:
                      type: string
                      description: The ID of the instance this backup is being restored to.
      responses:
        '200':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                title: TaskResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/containers/{containerId}/backups/{backupId}/logs':
    get:
      operationId: getBackupLogs
      tags:
        - Backups
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
        - name: backupId
          description: The ID for the container backup.
          in: path
          required: true
          schema:
            type: string
      summary: List Backup Logs
      description: Requires the `containers-backups-view` capability.
      responses:
        '200':
          description: Returns a collection of backup logs.
          content:
            application/json:
              schema:
                title: EnvironmentBackupsReturn
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Logs'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/dns/zones:
    get:
      operationId: getZonesCollection
      tags:
        - DNS
      parameters:
        - name: include
          in: query
          required: false
          description: 'A comma separated list of include values. Included resources will show up under the root document''s `include` field, with the key being the id of the included resource. In the case of applying an include to a collection of resources, if two resources share the same include, it will only appear once in the return.'
          schema:
            type: array
            items:
              type: string
              enum:
                - creators
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
      summary: List DNS Zones
      description: Requires the `dns-view` capability.
      responses:
        '200':
          description: Returns a collection of DNS zone resources.
          content:
            application/json:
              schema:
                title: DNSZoneListReturn
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Zone'
                  includes:
                    $ref: '#/components/schemas/ZoneIncludes'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createDNSZone
      tags:
        - DNS
      parameters: []
      summary: Create DNS Zone
      description: Requires the `dns-manage` capability.
      requestBody:
        $ref: '#/components/requestBodies/CreateZoneRequest'
      responses:
        '201':
          description: Returns the DNS zone resource.
          content:
            application/json:
              schema:
                title: DNSZoneCreateResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Zone'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/dns/{zoneId}':
    get:
      operationId: getDNSZone
      tags:
        - DNS
      parameters:
        - name: zoneId
          description: The ID of the zone.
          in: path
          required: true
          schema:
            type: string
      summary: Fetch DNS Zone
      description: Requires the `dns-view` capability.
      responses:
        '200':
          description: Returns a DNS zone resource.
          content:
            application/json:
              schema:
                title: SingleDNSZoneReturn
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Zone'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      operationId: updateDNSZone
      tags:
        - DNS
      parameters:
        - name: zoneId
          description: The ID of the zone.
          in: path
          required: true
          schema:
            type: string
        - name: include
          in: query
          required: false
          description: 'A comma separated list of include values. Included resources will show up under the root document''s `include` field, with the key being the id of the included resource. In the case of applying an include to a collection of resources, if two resources share the same include, it will only appear once in the return.'
          schema:
            type: array
            items:
              type: string
              enum:
                - creators
      summary: Update DNS Zone
      description: Requires the `dns-manage` capability.
      requestBody:
        $ref: '#/components/requestBodies/UpdateZoneRequest'
      responses:
        '200':
          description: Returns a DNS zone resource.
          content:
            application/json:
              schema:
                title: DNSZoneUpdateResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Zone'
                  includes:
                    $ref: '#/components/schemas/ZoneIncludes'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteDNSZone
      tags:
        - DNS
      parameters:
        - name: zoneId
          description: The ID of the zone.
          in: path
          required: true
          schema:
            type: string
      summary: Delete DNS Zone
      description: Requires the `dns-manage` capability.
      responses:
        '200':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        '400':
          description: This usually means the data sent was in an invalid format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: OAuth token is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Indicates an issue with Cycle. Rare.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/dns/{zoneId}/tasks':
    post:
      operationId: DNSZoneTask
      tags:
        - DNS
      parameters:
        - name: zoneId
          description: The ID of the zone.
          in: path
          required: true
          schema:
            type: string
      summary: Create DNS Zone Job
      description: 'Used to perform different actions on a given DNS zone, requires the `dns-manage` capability.'
      requestBody:
        description: Parameters for creating a new DNS zone job.
        content:
          application/json:
            schema:
              type: object
              required:
                - action
              properties:
                action:
                  type: string
                  description: The action that the job will take.
                  enum:
                    - verify
      responses:
        '200':
          description: Returns a task descriptor.
[...]
